<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/{{ conf.umi_name or 'umi' }}.css?t={{ restart_time }}">
    <link rel="stylesheet" href="./static/{{ conf.umi_name or 'umi' }}.css?t={{ restart_time }}">
    <link rel="stylesheet" href="/en/static/{{ conf.umi_name or 'umi' }}.css?t={{ restart_time }}">
    <link rel="stylesheet" href="./en/static/{{ conf.umi_name or 'umi' }}.css?t={{ restart_time }}">
    {% if conf.umi_name == 'umi_kobars' %}
        <link rel="stylesheet" href="./static/{{ conf.umi_name or 'umi' }}.css?t={{ restart_time }}">
        <link rel="stylesheet" href="./kobas3/static/{{ conf.umi_name or 'umi' }}.css?t={{ restart_time }}">
        <link rel="stylesheet" href="/kobas3/static/{{ conf.umi_name or 'umi' }}.css?t={{ restart_time }}">
    {% endif %}
    <meta charset="utf-8">
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <meta HTTP-EQUIV="Expires" CONTENT="-1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>{{ 'HerbNet' if '/en/' in request.path else conf.page_title}} </title>
    <script>
        sessionStorage.setItem('hostname', location.hostname +location.pathname);
        var system_name = '{{ system_name }}';
        var system_conf = {{ conf|tojson }};
        var restart_time = '{{ restart_time }}';
        var static_dir = '{{ static_dir }}';
        console.log('system_conf', system_conf);
    </script>
</head>
<body>
<div id="root"></div>
<script src="/static/{{ conf.umi_name or 'umi' }}.js?t={{ restart_time }}"></script>
<script src="./static/{{ conf.umi_name or 'umi' }}.js?t={{ restart_time }}"></script>
<script src="/en/static/{{ conf.umi_name or 'umi' }}.js?t={{ restart_time }}"></script>
<script src="./en/static/{{ conf.umi_name or 'umi' }}.js?t={{ restart_time }}"></script>
{% if conf.umi_name == 'umi_kobars' %}
    <script src="./static/{{ conf.umi_name or 'umi' }}.js?t={{ restart_time }}"></script>
    <script src="./kobas3/static/{{ conf.umi_name or 'umi' }}.js?t={{ restart_time }}"></script>
    <script src="/kobas3/static/{{ conf.umi_name or 'umi' }}.js?t={{ restart_time }}"></script>
{% endif %}
</body>
</html>