<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./static/{{ conf.umi_name or 'umi' }}.css?t={{ restart_time }}">
    <meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>{{  conf.page_title or '名老中医传承平台'}}</title>
    <script>
        sessionStorage.setItem('hostname', location.hostname +location.pathname);
        var system_name = '{{ system_name }}';
        var system_conf = {{ conf|tojson }};
        console.log('system_conf', system_conf);
    </script>
</head>
<body>
<div id="root"></div>
<script src="./static/{{ conf.umi_name or 'umi' }}.js?t={{ restart_time }}"></script>
</body>
</html>