<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/umi.css">
    <meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>{{  system_conf.page_title or '名老中医传承平台'}}</title>
    <script>
        window.routerBase = "/";
        sessionStorage.setItem('hostname', location.hostname);
        var system_name = '{{ system_name }}';
        var system_conf = {{ conf|tojson }};
        console.log('system_conf', system_conf);
    </script>
</head>
<body>
<div id="root"></div>
<script src="/static/umi.js?t={{ restart_time }}"></script>
</body>
</html>